/***** universal Styles *****/

:root{
    --small-text: 0.75rem;
    --mid-text: 1.5rem;
    --big-text: 2rem;
    --bold-text: 900;
    --content-text-color: #505050;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 90vw; 
    max-width: 979px;
    margin: 0 auto;
}

.footer{
    font-size: var(--small-text);
    text-align: center;
    background-color: #202020;
    padding: 3em 0;
    width: 100%;
}

body{
    font-family: "Source Sans 3", sans-serif;
}

main,
footer{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}


/***** header *****/

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    min-height: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
    list-style-type: none;
}

.nav a{
    text-decoration: none;
    color: #090909;
    padding-left: 2em;
}

.logo{
    color: #0E0E0E;
}

/***** hero *****/

.hero {
    background-image: url('./images/article-image-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #fff;
    min-height: 300px;
    padding: 2em 0;
    /* width: 95vw; */
}

.article-hero-title{
    margin: 0.5em 0;
    line-height: 1;
    font-size: var(--big-text);
}

.article-hero{
    padding: 0 1em;
}

.article-hero time,
.nav a{
    font-size: var(--small-text);
}

/* Section Blogs */

main{
    min-height: calc(100vh - 3.69rem);
}

.blog{
    margin: 2em 0 2.5em 0;
}

.blog img{
    margin: 0.5em 0 2em 0;
    display: block;
    width: 100%;
    min-height: 232px;
    object-fit: cover;
}

.article-blog-title{
    font-weight: var(--bold-text);
    font-size: var(--mid-text);
    margin: .2em 0;
}

.article-blog-text{
    margin-bottom: 1.5em;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.btn .view-btn{
    border: none;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    font-weight: var(--bold-text);
    background: none;
}

.footer-journal-text{
    color: #ECECEC;
    margin-bottom: .5em;
    font-weight: var(--bold-text);
}

.footer-journal-copyright{
    color: #d7d7d7;
}


/* Blog Page Styles */

.section-journey{
    padding: 2.5em 0 1.5em 0;
}

.article-journey .article-journey-image{
    display: block;
    width: 100%;
    height: 488px;
    object-fit: cover;
    object-position: top;
    margin: 2em 0;
}

.article-commited-text,
.article-started-text{
    margin: 1em 0;
    color: var(--content-text-color);
}

.article-blog-title{
    margin: 0 0 0.2em 0;
}

.blog .date{
    display: block;
    padding: 0.4em 0;
}

.recent-post-wrap{
    text-align: center;
    margin: 2rem 0 -1.5em 0;
    font-weight: var(--bold-text);
}

.article-blog-image{
    margin-top: -2em;
}

/* About Page Styles */

.nabeel{
    display: block;
    margin-left: 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: 2px solid;
    background-color: #FAF0E6;
}

.article-about-text{
    margin-bottom: 2.5em;
}

.view{
    margin-top: -6em;
}

@media (min-width: 968px){

    .article-journey h1{
        font-size: 2.25em;
    }

    .article-journey h3{
        font-size: 1.25em;
    }
    
    .hero{
        background-position: 0px -100px;
        min-height: 488px;
        max-width: 979px;
        margin-top: 1em;
    }

    .article-blog-one,
    .article-blog-two,
    .article-blog-three{
        display: grid;
    }
    
    .blog{
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        column-gap: 30px;
        max-width: 979px;
    }
    .article-hero{
        flex-direction: column; 
        max-width: 657px;
        margin-left: 2em;
    }
    .article-hero time{
        margin-top: 180px;
    }

    .article-journey-image{
        display: block;
        width: 100%;
    }

    .footer{
        max-width: 979px;
        margin: 0 auto;
    }

    .view{
        margin-top: -6em;
    }

    .about-section{
        margin-top: 1em;
    }

    .article-hero-title{
        margin-top: 1em;
    }

    .article-journey-header{
        display: flex;
        gap: 1.5em;
        align-items: center;
        margin-bottom: 2em;
    }
    .article-journey-header-content{
        max-width: 764px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .journey-articles{
        width: 844px;
        margin: 0 auto;
    }
    .nav a{
        font-size: 1rem;
    }
}